census==0.8.3
certifi==2017.4.17
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.0.11
Flask==0.12.2
idna==2.5
ipython-genutils==0.2.0
itsdangerous==0.24
jellyfish==0.5.1
Jinja2==2.9.6
-e git+https://github.com/JMStudiosJoe/ReactPractice@e1fbf72df4e61bb66b45e4aac4e36cbfbdb7a59c#egg=jmstudios_backend&subdirectory=backend
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.0.2
nbformat==4.3.0
numpy==1.13.0
pandas==0.20.2
plotly==2.0.12
psycopg2==2.7.3
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
six==1.10.0
SQLAlchemy==1.1.13
traitlets==4.3.2
urllib3==1.21.1
us==0.9.1
Werkzeug==0.12.2
